version: '3.8'

services:
  pz-server:
    container_name: ${CONTAINER_NAME}

     # --- DNS 配置 ---
    # 强制容器使用国内大厂 DNS，防止默认 DNS 污染导致 Steam 无法解析
    dns:
      - ${DNS_SERVER_1}
      - ${DNS_SERVER_2}
    
    # --- 构建配置 ---
    build:
      context: .
      dockerfile: Dockerfile
      # 构建时使用宿主机网络
      network: host 
      args:
        # 传递 .env 里的代理和源设置
        http_proxy: ${PROXY_URL}
        https_proxy: ${PROXY_URL}
        USE_CN_MIRROR: ${USE_CN_MIRROR}

    # --- 端口映射 ---
    ports:
      # 游戏端口
      - "${PORT_GAME_UDP}:16261/udp"
      - "${PORT_GAME_HANDSHAKE}:16262/udp"
      # Nginx转发端口
      # Web面板访问 10888，没有开启https时使用
      - "${PORT_GAME_SETTING_EXT}:80"
      # 开启https后，需要转发给容器内的 443，同时注释掉上面的80
      # - "${PORT_GAME_SETTING_EXT}:443"

    # --- 环境变量 ---
    environment:
      - TZ=Asia/Shanghai
      # 代理配置
      # - http_proxy=${PROXY_URL}
      # - https_proxy=${PROXY_URL}
      # HTTPS / SSL 配置
      - SSL_MODE=${SSL_MODE}
      - DOMAIN_NAME=${DOMAIN_NAME}
      - CF_Token=${CF_TOKEN}
      - CF_Account_ID=${CF_ACCOUNT_ID}
      - SSL_CERT=${SSL_CERT}
      - SSL_KEY=${SSL_KEY}
      # 游戏配置
      - PZ_BRANCH=${PZ_BRANCH}
      # PZ Web 面板账号配置
      - PZ_WEB_ACCOUNT=${PZ_WEB_ACCOUNT}
      - PZ_WEB_PASSWORD=${PZ_WEB_PASSWORD}
      # 游戏更新相关
      - STEAMCMD_CN_MIRROR_ID=${STEAMCMD_CN_MIRROR_ID}
      - PZ_BRANCH=${PZ_BRANCH}
      # FileBrowser 账号配置
      - FILEBROWSER_ADMIN_USERNAME=${FILEBROWSER_ADMIN_USERNAME}
      - FILEBROWSER_ADMIN_PASSWORD=${FILEBROWSER_ADMIN_PASSWORD}

    # --- 卷挂载 ---
    volumes:
      # 存档与配置
      # 宿主机 ./data/zomboid -> 容器 /home/steam/Zomboid
      - ./data/zomboid:/home/steam/Zomboid

      # 游戏本体
      # 宿主机 ./data/game -> 容器 /opt/pzserver
      - ./data/game:/opt/pzserver

      # FileBrowser 数据库
      # 宿主机 ./data/filebrowser -> 容器 /opt/filebrowser
      - ./data/filebrowser:/opt/filebrowser

      # Web 后端的数据目录
      - ./data/web-backend:/opt/pz-web-backend

      # Steam持久化，主要是登录缓存的持久化，这样只需要忍受第一次登录流程，后续直接拿着config/config.vdf握手
      - ./data/steam:/home/steam/Steam

      # 映射宿主机的 ./certs 目录到容器内的 /certs
      # 注意，该目录下应包含 cert.pem 和 key.pem 这样的证书文件。
      # 如果你使用域名申请了证书的话，申请后的证书最终会放在这里供Nginx使用，这里有证书会跳过HTTPS申请步骤
      # 如果你直接提供证书放在下面，并且正确设置好SSL_KEY和SSL_CERT变量，则会直接使用这些证书作为HTTPS证书
      - ./certs:/certs

    # --- 重启策略 ---
    restart: unless-stopped
  ddns-go:
    # --- DDNS-GO 服务 ---
    # 作用：自动更新域名解析，将域名指向家庭网络的动态公网IP。
    container_name: ddns-go
    # command: "-l :9876 -f 300" # 每 300 秒(5分钟)检查一次
    command: -f ${FREQUENCY_DDNS_GO}
    image: ghcr.io/jeessy2/ddns-go:latest
    
    # --- 重启策略 ---
    restart: unless-stopped
    
    # --- 端口映射 ---
    # 暴露 ddns-go 的 Web UI 配置界面
    ports:
      - "${PORT_DDNS_GO}:9876"

    # --- 卷挂载 ---
    # 将容器内的配置目录持久化到宿主机，防止容器重启后配置丢失
    volumes:
      - ./data/ddns-go:/root

    # --- 环境变量 ---
    environment:
      - TZ=Asia/Shanghai